    <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
        <div class="container">

          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand handraise" href="/issues">Handrai.se</a>

<!--
          <form class="navbar-search offset1">
            <input type="text" class="search-query" placeholder="Search">
          </form> -->
            <%= form_tag issues_path, :class => "navbar-search offset1", method: :get do %>
              <p>
                <%= text_field_tag :query, params[:query], :class => "search-query", :value => "Search" %>
              </p>
            <% end %>
          <div>
          <%= link_to 'Raise your hand!', new_issue_path, class:"btn btn-primary offset1 span2"%>
          </div>

          <div class="sign-in pull-right">
              <span><% if current_user %>
              Hi, <%= current_user.username %>
              <%= link_to "Sign out", sign_out_path %></span>
              <% else %>
              <span><%= link_to "Sign up", sign_up_path %> or
              <%= link_to "Sign in", sign_in_path %></span>
              <% end %>
          </div>
        </div>
</div>
    </div>
