<!-- <p id="notice"><%#= notice %></p> -->
  
    <div class="issues-nav">

    </div>

    <div class="issue-content">
      <%= render 'show' if @issue %>
    </div>

 <%= content_for :js do %>
 
 <script>
 $(function(){
    $(".issues-nav").load("<%= issues_path %>", function(html){
      ActivateIssuesIndex();
      <% if @issue %>
        $("#issue_<%= @issue.id%>").parents("tr:first").addClass("selected");
      <% else %>
        $("table.unresolved tr:first td a:first").click();
      <% end %>
    });

    function pollIssuesIndex(){
      setTimeout(function(){
        $(".issues-nav").load("<%= issues_path %>", function(html){
          ActivateIssuesIndex();
          pollIssuesIndex();      
        })
      }, 10000)
    };
    
    pollIssuesIndex();

 });
 </script>
 <% end %>