<H1>assignments</H1>
<table>
<h2><%= @user.name %></h2>

<% @user.assignments.each do |assignment| %>
<tr><td><%= link_to "#{assignment.name}", [assignment, @user]%></td>

  <td><%= assignment.status(@user) %></td>
<td><%= link_to "submit assignment", submit_assignment_path(@user,assignment) %></td>
</tr>
<% end %>
</table>
<%= link_to "home", root_path %>