<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b> <%= @post.title %>
</p>

<p>
  <b>Body:</b> <%= @post.body %>
</p>

<p>
  <% @post.comments.each do |comment| %>
    <%= comment.body %>
    <br>
    <%= comment.email %>
  <% end %>
</p>