<!-- Test -->
<div class="post-info clearfix">

<section class="section-wrapper stripped">
  <div class="container">
    <div class="row">
      <div class="span12 project-title-custom">
        <h3 class="section-header"><%= @project.name %></h3>
      </div>
      <%= form_for(@project, :html => {:class => "form-horizontal"}) do |f| %>
        <%= render :partial => "shared/error_messages", :locals => {:target => @project} %>

        <div class="span10" id="edit_project_white_card">
          <div class="white-card recent-post clearfix">
            <h5 class="recent-post-header">
              <%= f.label :name, "Project Title" %>
            </h5>
            <div class="post-info clearfix">
              <div class="text-field-custom"%>
                <%= f.text_field :name, :id => "edit_form_name" %>
       
                <h5 class="recent-post-header">
                  <%= f.label :image, "Display Image"%>
                </h5>
                <%= image_tag image_link(@project), :id => "edit_form_image", :class => "thumbnail" %>
                <div class="controls" id="image-submit-custom">

                  <%= f.file_field :image %>
                </div>

                <h5 class="recent-post-header">
                  <%= f.label :description, "Description"%>
                </h5>
                <div class="description-area-custom">
                  <%= f.text_area :description, :rows => 7, :id => "edit_form_text_area" %>
                </div>
              </div>

              <ul class="pager">
                <li class="next"> <%= f.submit "Confirm Info", :class => "btn btn-primary btn-extra pull-right post-btn"%></li>
              </ul>

              <!-- <a href="/theme_venera/single_post" class="btn btn-primary btn-extra pull-right post-btn">Confirm Info &gt;</a> -->
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</section>