<section class="section-wrapper stripped">
<div class="container">
<div class="row">
<div class="span12">
<h3 class="section-header">Projects</h3>
</div>
<% @projects.each do |project| %>
      <div class="span4">
      <div class="white-card recent-post clearfix">
      <h5 class="recent-post-header">
         <a href="<%= project_path(project)%>"><%= project.name %></a>
      </h5>
      <div class="post-info clearfix">
      </div>
<%= project_image(project) %>
  
  <p class="post-content separated"><%= project.description %></p>
      <div class="technologies-custom">
    <% project.technologies.each do |tech| %>
    <span class="label"><%=tech.name%></span>
    <% end %>
  </div>
      </div>
      </div>
<%end %>
</div>
</div>
</section>




