
<%= form_for @organization do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain %><span>your site will be: <span class="site_subdomain"></span>.assignment.io</span>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>