<!-- Modal -->
<div class="modal fade" id="readmeModal<%= lab.name %>" tabindex="-1" role="dialog" aria-labelledby="readmeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="readmeModalLabel">readme: <strong><%= lab.name %></strong></h4>
      </div>

      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <% lab.tags.each do |filter, filter_id| %>
                <th><%= filter %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% lab.tags.each do |filter, filter_id| %>
                <td><%= filter_id %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
        <%= lab.readme %>
      </div>

      <div class="modal-footer"></div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->