<%= form_for(@jockey) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :shoe_size %><br />
    <%= f.number_field :shoe_size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
