<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @jockey.name %>
</p>

<p>
  <b>Height:</b>
  <%= @jockey.height %>
</p>

<p>
  <b>Shoe size:</b>
  <%= @jockey.shoe_size %>
</p>


<%= link_to 'Edit', edit_jockey_path(@jockey) %> |
<%= link_to 'Back', jockeys_path %>
