<div class="sign_in_form_container">
  <%= form_for(@organization, :class => "sign_in") do |f| %>
    <div class="field">
      <br />
      <%= f.text_field :subdomain, :placeholder => "Organization Name (no spaces)", :autofocus => true, :required => true %>
      <span class="form-field-error-message">
          <% if @organization.errors.any? %>
          *<%= @organization.errors.to_hash.key([@organization.errors.to_hash[:subdomain][0]]) %>
          <%= @organization.errors.to_hash[:subdomain][0] %>
        </span>
        <% end %>
    </div>
    <div class="field">
      <br />
      <%= f.text_field :name, :placeholder => "Your Name" %>
    </div>

    <%= fields_for @organization.users.build do |f| %>
      <%= f.text_field :email, :placeholder => "Email", :required => true %></br>
      <%= f.password_field :password, :required => true, :placeholder => "Password" %></br>
      <%= f.password_field :password_confirmation, :required => true, :placeholder => "Password Confirmation" %></br>
      <span class="form-field-error-message">
        <% if @user %>
          <% if @user.errors.any? %>
            <% if @user.errors.to_hash[:password] %>
             *<%= @user.errors.to_hash.key([@user.errors.to_hash[:password][0]]) %>
             <%= @user.errors.to_hash[:password][0] %>
            <% end %>
          <% end %>
        <% end %>
      </span>
    </br>
      <%= f.check_box :is_instructor, :checked => true %> I am an instructor</br></br>
    <% end %>

    <%= f.submit class: "btn" %>
  <% end %>
</div>
