<section class="section-wrapper stripped">
  <div class="container">
    <div class="row">
      <div class="span12 project-title-custom">
        <div class="white-card no-padding just-white">

          <div class="container">
            <fieldset>
              <%= form_for([@project, @feature], :validate => true, html: {class: "form-horizontal"}) do |f| %>
              <%= render partial: "shared/error_messages", :locals => {:target => @feature} %>
              <legend>
                Start a New Slideshow Feature for <%= @project.name %>
              </legend>

              <div class="control-group">
                <%= render partial: "features/new_form_partials/title", :locals => {:f => f, :feature => @feature} %>
              </div>

              <div class="control-group">
                <%= render partial: "features/new_form_partials/description", :locals => {:f => f, :feature => @feature} %>
              </div>

              <div class="control-group">
                <%= render partial: "features/new_form_partials/technologies", :locals => {:f => f, :feature => @feature} %>
              </div>
            </fieldset>
          </div>
        </div>

        <ul class="slideshow-button-list">
          <li class="next"><%= f.submit "Submit", :class => "btn btn-primary btn-extra post-btn" %></li>
          <% end %>
          <li class="next"><%= link_to "Back to #{@project.name}", @project, :class => "btn btn-primary btn-extra post-btn" %></li>
        </ul>
      </div>
    </div>
  </div>
</section>





