
<p id="notice"><%= notice %></p>
<div>
  <h1>
    Project: <%= link_to "#{@feature.project.name}", @feature.project %>
  </h1>
  <h2>
    Feature: <b><%= @feature.title %></b>
  </h2>


  <p><b>Description:</b> <%= @feature.description %></p>
    
  <ul>
    <% @feature.slides_in_order.each do |slide| %>
      <li>
        <p><%= slide.name %></p>
        <p><%= slide.description%></p>
        <p><%= snippet_or_upload_show(slide) %></p>
      </li>
    <% end %>
  </ul>


  <b>Check Out <%= @feature.user.name.split.first %>'s Other Work Using These Technologies:</b>
  <ul>
    <% @feature.technologies.each do |technology| %>
    <li><%= link_to technology.name, user_technology_path(@feature.user, technology) %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to "Back to #{@feature.project.name}", @feature.project %> | 
<%= link_to "Upload an Image", [:new, @feature, :upload] %> |
<%= link_to 'Add Snippet', new_feature_snippet_path(@feature) %> |
