<div class="span6">
  <div class="white-card extra-padding">
    <fieldset>
        <%=form_for(:session, url: login_path, class: "form-transparent no-margin-bottom") do |f|%>
          <div class="control-group">
            <%= f.label :email, "Email"%>
            <%= f.text_field :email, :class=>'span2' %>
          </div>
          <div class="login-actions">
            <%= f.submit "Login", :class=>'btn'%>
            <br><br>
          </div>
      <% end %>
       <%= link_to "Sign Up As a New User", new_user_path %>
    </fieldset>
  </div>
</div>
