<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @horse.name %>
</p>

<p>
  <b>Number:</b>
  <%= @horse.number %>
</p>

<p>
  <b>Jockey name:</b>
  <%= @horse.jockey_name %>
</p>

<p>
  <b>Position:</b>
  <%= @horse.position %>
</p>
