<h4 id="notice"><%=notice %></h4>

<table class="table table-striped">
  <tr>
    <th><%=@assignment.name%></th>
    <th>Due date: <%=@assignment.due_date%></th>
    <th>Status: <%= @assignment.status(@user)%>
  </tr>
    <tr><th>Comments: <%=@assignment.content%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%#= submission.status %> </td>
    <td><%#= link_to 'Show', edit_submission_path(submission) %></td>
    <td><%#= link_to 'Edit', new_submission_path(submission) %></td>
    <td><%#= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>


</table>
