<div class="span8">
  <%= form_for([@feature, @snippet], html: {class: "form-horizontal"}) do |f| %>
    <%= render partial: "shared/error_messages", :locals => {:target => @snippet} %>

    <fieldset>
      <h1 class="gg-header-instructions">
        New Snippet Slide!
      </h1>
      <h4 class="gg-header-instructions instructions">
        This slide is about explaining the code you wrote to create your <%= @feature.title %> feature. A good slide tells a story. Use a short snippet and relate it to the other slides in this feature.
      </h4>    


      <%= render partial: "snippets/new_form_partials/name",        :locals => {:f => f, :snippet => @snippet} %>
      <%= render partial: "snippets/new_form_partials/url",         :locals => {:f => f, :snippet => @snippet} %>
      <%= render partial: "snippets/new_form_partials/language",    :locals => {:f => f, :snippet => @snippet} %>
      <%= render partial: "snippets/new_form_partials/code",        :locals => {:f => f, :snippet => @snippet} %>
      <%= render partial: "snippets/new_form_partials/description", :locals => {:f => f, :snippet => @snippet} %>
    
      <%= f.submit "I'm Done With This Snippet", :class => "btn btn-primary" %>
    </fieldset>
  <% end %>
</div>
