<% if @authored_assignments.empty?%>
<table class="table table-striped span11">
  <%else%>
  <table class="table table-striped span5">
<%end%>
    <tr>
      <th>Name</th>
      <th>Assigned by</th>
      <th>Due date</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
    <% user_assignments.each do |ua| %>
      <tr>
	<td class="assignmed_to_me"><%= link_to ua.assignment.name, ua.assignment %></td>
	<td><%= ua.assignment.author.name %></td>
	<td><%= ua.assignment.due_date %></td>
	<td><%= ua.status %>
	<td><%= submitted_link(ua) %></td>
	<td><%= link_to "Submit This Assignment", new_assignment_submission_path(ua.assignment) %> </td>
      </tr>
    <% end %>
  </table>