<h4 id="notice"><%=notice %></h4>
<% if @authored_assignments.empty?%>
<div class="span12">
  <%else%>
<div class="span6 left-side">
<%end%>
  <% if !@user_assignments.empty? || @authored_assignments.empty? %>
    <div >
      <h1>assigned to me</h1>
    </div>
    <div>
  	<ul class="nav nav-tabs" id="myTab">
  	  <li class="active inactive"><a href="#all">All</a></li>
  	  <li class="inactive"><a href="#overdue">Overdue</a></li>
  	  <li class="inactive"><a href="#incomplete">Incomplete</a></li>
  	  <li class="inactive"><a href="#submitted">Submitted</a></li>
  	  <li class="inactive"><a href="#graded">Graded</a></li>

  	</ul>
  	<div class="tab-content left-side">
  	  <div class="tab-pane active" id="all">
  	    <%= render partial: 'assigned_to_me', locals: {user_assignments: @user_assignments}  %>
  	  </div>
  	  <div class="tab-pane" id="overdue">
  	    <%= render partial: 'assigned_to_me', locals: {user_assignments: @user_assignments.select{ |e| e.is_overdue?}}  %>
  	  </div>
  	  <div class="tab-pane" id="incomplete">
  	    <%= render partial: 'assigned_to_me', locals: {user_assignments: @user_assignments.select{ |e| e.is_incomplete?}}  %>
  	  </div>
  	  <div class="tab-pane" id="submitted">
  	    <%= render partial: 'assigned_to_me', locals: {user_assignments: @user_assignments.select{ |e| e.is_submitted?}}  %>
  	  </div>
  	  <div class="tab-pane" id="graded">
  	    <%= render partial: 'assigned_to_me', locals: {user_assignments: @user_assignments.select{ |e| e.is_graded?}}  %>
  	  </div>

  	</div>
      </div>
  <% end %>
</div>

<% if @user_assignments.empty?%>
<div class="span12">
  <%else%>
<div class="span5 right-side">
<%end%>
  <% if @authored_assignments != [] %>
    <div class=" no-tabs">
      <h1> assigned by me </h1>
    </div>
  <% end %>

  <div>
    <h4><%= link_to 'create an assignment', new_assignment_path %>
    <div class="create-group"><%= link_to 'create a group', new_group_path %></h4>
  </div>

  <%= render 'assigned_by_me' if @authored_assignments != []  %>


</div>