<h4 id = "notice"><%= notice %></h4>
<div class="span8">
  <div class="form-horizontal well">
      <div class="bigger">
        <div><h3><%= @assignment.name %></h3></div></br>
        <div><b>due date:</b> <%= @assignment.due_date %></div></br>
        <div><b>content:</b></br><%= @assignment.content %></div></br>
        <div><b><%= file_assignment(@assignment) %></b></div></br>
        <% if @assignment.author == current_user %>
          <div><b>number completed: <%= @assignment.number_completed %></b></div>
        <% end %>
      </div>
  </div>
</div>
  <% if @assignment.author == current_user %>
    <%= render 'teacher_table' %>
  <% else %>
    <div class="span4">
      <h3><%= link_to "submit this assignment", new_assignment_submission_path(@assignment) %></h3>
    </div>
  <% end %>