<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>

<script>
$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>

<!-- ########################## THIS IS FOR THE FEATURES SLIDER ######################## -->
<div class="span12 feature-section">
  <div class="slider-container">
    
  <div id="features-slide">
    <% @project.features.each do |feat| %>
      <div class="feature">
        <h2 class="feature-card-title" data-name="<%= feat.title.downcase.gsub(" ", "_") %>">
          <%= user_dependent_view_for_feature(feat, "title") %>
        </h2>
      </div>
    <% end %>
      <div class="feature new">

        <div class="creator">
          <h3 class="feature-card-title">
            <% if @project.users.include?(current_user) %>
            <%= link_to 'Add A Feature To Your Project.', new_project_feature_path(@project)%>
            <% end %>
          </h3>
        </div>

      </div>
</div>
  </div>
</div>
<!-- ########################## THIS IS FOR THE FEATURES SLIDER ######################## -->


<!-- ########################## THIS IS FOR THE FEATURES CAROUSEL ###################### -->
  <div class="container-fluid ">
    <div class="row-fluid">
      <% @project.features.each do |feat| %>
        <div id="<%= feat.title.downcase.gsub(" ", "_") %>" class="span12 item1 carousel_container carousel-main">
          <div class="span8 carousel-slides">
            <%= render :partial => "projects/carousel/carousel_slides", :locals => {:feature => feat} %>
          </div>
          <div class="span4 carousel-sidebar">
            <div class="top-sidebar">
              <h2><%= feat.user.name if feat.user %> </h2>
              <%= link_to (image_tag avatar_url(feat.user), class: "img-circle"), user_path(feat.user) if feat.user %>
              <p><em>Member since: <%= feat.user.created_at.strftime("%b %d %Y") if feat.user %></em></p>
            </div>
            <div class="bottom-sidebar">
              <h2>Feature Description</h2>
              <p><%= user_dependent_view_for_feature(feat, "description") %></p>
              <h2>Feature Slides</h2>
              <ul>
                <% feat.slides_in_order.each do |slide| %>
                  <li><%= slide.name if slide %>  =><em>  <%= slide.class %></em></li>
                <% end %>
              </ul>
              <p>
                <em>Created on <%= feat.created_at.strftime("%A, %b %d %Y") %></em>
                <br>
                <em>Last updated on <%= feat.updated_at.strftime("%A, %b %d %Y") %></em>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<!-- ########################## THIS IS FOR THE FEATURES CAROUSEL ###################### -->

  </div>
</div>
