<% if @tag && @tag_id %>
  <%= breadcrumbs_partial(@tag, @tag_id) %>
<% end %>

<div style="clear:both;">
  <% if !@matching_labs.empty? %>
  <!-- @matching_labs is an array of hashes -->
   
    <ul class="list-group col-md-4">
      <a class="list-group-item active">
        <h4>Matching Labs</h4>
      </a>
      <% @matching_labs.each_with_index do |lab, n| %>
        <div class="list-group-item">
          <a href="<%= lab.github_url.gsub("git@github.com:", "https://github.com/") %>">
            <span><%= lab.name %></span>
            <!-- Button trigger README -->
            <button class="badge pull-right" data-toggle="modal" data-target="#readmeModal<%= lab.name %>">README</button>
            <!-- Button trigger modal -->
            <button class="badge pull-right" data-toggle="modal" data-target="#myModal<%= lab.name %>">DEPLOY</button>
          </a>

          <!-- Deploy README partial -->
          <%= readme_partial(lab) %>

          <!-- Deploy modal partial -->
          <%= deploy_partial(lab) %>
          
        </div>
      <% end %>
    </ul>

  <% else %>
  <div class="bs-example">
    <div class="jumbotron" style="background-color:#ecf0f1;">
      <h1>Sorry, partner...</h1>
      <p>We couldn't find what you were chasing after.</p>
      <button type="button" class="btn btn-primary btn-lg" id="searchFocus">Search again?</button>
    </div>
  </div>
  <% end %>
</div>


      