<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flatiron Curriculizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
  </head>
  <body class='background'>
    <%= partial :navbar %>
    <%= flash_messages_partial(flash) %>

    <%= yield %>

    <!-- Commit history here -->
    <ul class="list-group col-md-4 pull-right" id="moveMe">
      <a class="list-group-item active">Recent Commits</a>
      <!-- TODO: build logic into this -->
      <% @labs.first.commit_history.each do |commit| %>
      <!-- Putting most recent GitHub activity for labs here -->
        <div class="list-group-item">
          <span><img class='media-object' src='<%= commit.avatar %>' height='40em'></span>
          <span><%= commit.message %></span>
          <span class="badge"><%= commit.name %></span> 
        </div>
      <% end %>
    </ul>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/toggle.js"></script>
  </body>
</html>