<%= breadcrumbs_partial(@tag) %>

<div style="clear:both;">
  <% if !@tag_names.empty? %>
  <!-- @tag_names is an array of arrays -->
    <div class="list-group col-md-4">
      <a class="list-group-item active">
        <%= @tag.capitalize %>
      </a>

      <% @tag_names.each do |name| %>
        <a href="/<%= @tag %>/<%= name %>" class="list-group-item"><%= name %></a>
      <% end %>
    </div>
  <% else %>
    Sorry, no tag names to display.
  <% end %>
</div>

