<div class="container">
  <div class="row">

    <div class="span12 project-title-custom">
      <h3>
        What would you like on your next slide?
      </h3>
      <ul class="slideshow-button-list">
        <li class="next"><%= link_to "Upload an Image",new_feature_upload_path(@feature), :class => "btn btn-primary btn-extra post-btn" %></li>
        <li class="next"><%= link_to "Copy/Paste A Code Snippet",new_feature_snippet_path(@feature), :class => "btn btn-primary btn-extra post-btn" %></li>
        <li class="next"><%= link_to "I'm Done Adding Slides",edit_feature_path(@feature), :class => "btn btn-primary btn-extra post-btn" %></li>
      </ul>
    </div>

    <legend>
    Current Slides <h4>You can arrange the slide order by dragging the small tabs on the left up or down.</h4>
  </legend>

  <% if @feature.slides_in_order.any? %>

    <div class="tabbable tabs-left">

      <ul class="nav nav-tabs sortable" data-feature-id="<%= @feature.id %>">
      <% @feature.slides_in_order.each_with_index do |slide, index| %>
        <% myclass = index == 0 ? 'active' : ''%>
        <li data-id="<%= slide.id %>" data-class-type="<%= slide.class %>" class="<%=myclass %>"><a href="#l<%=index%>" data-toggle="tab"><%= slide.name %></a></li>
      <% end %>
      </ul>

      <div class="tab-content">
        <% @feature.slides_in_order.each_with_index do |slide, index| %>
        <% myclass = index == 0 ? 'active' : ''%>

        <div class="tab-pane <%=myclass %>" id="l<%= index %>">
          <p draggable="true" class="" style="">
          <input type="hidden" name="slides[][class]" value="<%= slide.class %>"></input>
          <input type="hidden" name="slides[][id]" value="<%= slide.id %>"></input>
          <p><%= slide.name %></p>
          <p><%= slide.description%></p>
          <img height="100px"><%= snippet_or_upload_show(slide) %></img>
        </div>
        
        <% end %>
      </div>

  <% end %>

  </div>
</div>


