<div class="issue-answers-container">
  <% if @issue.answer_id %>
    <div class="accepted-answer">
      <%= render 'issue_answer', :a => @issue.accepted_answer %>
      <hr>
    </div>
  <% end %>
  <div class="answers">
    <h2> </h2>
    <% if @issue.answer_id %>
      <% @issue.show_answers.each do |a| %>
        <%= render 'issue_answer', :a => a %>
        <hr>
      <% end %>
    <% else %>
      <% @issue.show_answers.each do |a| %>
        <div class="<%= "first_answer" if a = a.issue.answers.first %>">
          <%= render 'issue_answer', :a => a %>
          <hr>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
<% unless @issue.answers %>
  <hr>
<% end %>
<%= render 'new_issue_answer' %>

<% content_for :js do %>
  <script>
  </script>
<% end %>