<div class="issue-signature span2">
  <%= render 'issue_signature' %>
</div>

<div class="issue-body">
  <div class="issue-content span9 row">

    <h4><%= @issue.title %></h4>
    <div class="issue-actions">
      <% if @issue.owner == current_user %>
        <%= link_to 'Edit', edit_issue_path(@issue) %> |
        <%= link_to 'Destroy', @issue, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% else %>

      <% end %>
    </div>
    <div class="issue-description">
      <%= markdown @issue.description %>
    </div>
    <% if @issue.comments.count > 0 %>
      <hr>
    <% end %>
  </div>
  <div class="issue-comments-container row">
    <%= render 'issue_comments' %>
    <div class="btn-link" id="issue-comments-toggle">Add Comment</div>
  </div>
</div>
