
<div class="voting_arrows span1 issue">
  <% if @issue.user == current_user %>
      <%= image_tag 'up_arrow.png', :class => "up_arrow_issue no-vote-owner", :size => "35x35" %>
  <% else %>
      <%= link_to vote_issue_path(@issue, vote: 'up'), method: "post", :remote => true do %>
          <%= image_tag 'up_arrow.png', :class => "up_arrow_issue", :size => "35x35" %>
      <% end %>
  <% end %>
  <span class="total_votes_issue votes"><%= @issue.total_votes %></span>
  <% if @issue.user == current_user %>
      <%= image_tag 'down_arrow.png', :class => "down_arrow_issue no-vote-owner", :size => "35x35" %>
  <% else %>
      <%= link_to vote_issue_path(@issue, vote: 'down'), method: "post", :remote => true do %>
          <%= image_tag 'down_arrow.png', :class => "down_arrow_issue", :size => "35x35"  %>
      <% end %>
  <% end %>
  </div>

<div class="issue-signature-avatar span1"><%= issue_owner_large_image_tag @issue %></br></br></div>

<div class="signature-info-text row">
  <strong class="pull-right"><%= @issue.owner.username %></strong><br><small class="pull-right"><%= time_ago_in_words(@issue.created_at) %> ago</small>
</div>

<% if @issue.fresh? %>
  <%= render 'issues/signature_icons/fresh', :issue => @issue %>
<% end %>

<% if @issue.opened? %>
  <%= render 'issues/signature_icons/open', :issue => @issue %>
<% end %>

<% if @issue.instructor_asked? %>
  <%= render 'issues/signature_icons/instructor', :issue => @issue %>
<% end %>

<% if @issue.resolved? %>
  <%= render 'issues/signature_icons/resolved', :issue => @issue %>
<% end %>
