<div class="issue-answer-body row">
    <div id="myModalEditAnswer-<%= a.id %>" class="modal modal-answer hide fade" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalEditAnswerLabel">Edit Your Answer</h3>
                <%= link_to "Markdown welcome", "http://daringfireball.net/projects/markdown/syntax", :target => "_blank" %> | Surround snippets of code with three backticks.
      </div>
      <div class="modal-body">
        <%= form_for([a.issue, a]) do |f| %>
          <%= f.text_area :content, rows: "15", columns: "38", :class => "span7" %>
          <%= f.submit "Submit", :class => "btn btn-mini" %>
        <% end %>
      </div>
    </div>

    <div class="voting_arrows span1">
      <% if a.user == current_user %>
        <%= image_tag 'up_arrow.png', :class => "up_arrow no-vote-owner", :size => "25x25" %>
      <% else %>
        <%= link_to vote_issue_answer_path(@issue, a, vote: 'up'), method: "post", :remote => true do %>
          <%= image_tag 'up_arrow.png', :class => "up_arrow", :size => "25x25" %>
        <% end %>
      <% end %>
      <span class="total_votes votes"><%= a.total_votes %></span>
      <% if a.user == current_user %>
          <%= image_tag 'down_arrow.png', :class => "up_arrow no-vote-owner", :size => "25x25" %>
      <% else %>
        <%= link_to vote_issue_answer_path(@issue, a, vote: 'down'), method: "post", :remote => true do %>
          <%= image_tag 'down_arrow.png', :class => "down_arrow", :size => "25x25"  %>
        <% end %>
      <% end %>
    </div>

    <div class="answer-signature span1">
      <%= issue_owner_large_image_tag a %>
      <h4><%= a.user.username %></h4>
      <% if a.issue.is_owner?(current_user) %>
        <% unless a.accepted_answer? %>
          <%= form_for a.issue do |f| %>
            <%= f.hidden_field :answer_id, :value => a.id %>
            <%= f.submit "accept", :id => "button-issue", :class => "btn btn-mini btn-success" %>
          <% end %>
        <% end %>
      <% end %>
      <% if a.user == current_user %>
        <div>
          <a href="#myModalEditAnswer-<%= a.id %>" role="button" class="" data-toggle="modal">Edit</a>
        </div>
      <% end %>
    </div>

    <div class="answer-content span8">
      <%= markdown a.content %>
    </div>
  </div>