<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="nav-size">
      <a class="brand" href="/issues">Handrai.se</a>
        <div class="timer-hand-raise offset4 span3">
          <% if current_user %>
              <div id="countdown"></div>
              <p id="note"></p>
            <% if current_user.last_issue_is_fresh? %>
              <%= render 'issues/timer', :issue => current_user.issues.last  %>
            <% else %>
              <a href="#myModal" role="button" class="nav-ask-link" data-toggle="modal">
                <%= image_tag 'handraise.png', :class => "hand-icon", :size => "40x40" %>Raise Your Hand!</a>
            <% end %>
          <% end %>
        </div>
      <div class="settings-menu nav pull-right">
        <ul class="nav">
          <% if current_org %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= nav_settings_icon_white %>
                </a>
                <ul class="dropdown-menu">
                  <% if current_user %>
                  <li>
                    <a><%= current_user.email %></a>
                  </li>
                  <li>
                    <%= link_to "Sign out", sign_out_path %>
                  </li>
                  <% else %>
                     <li> <%= link_to "Sign In", sign_in_path %></li>
                  <% end %>
                </ul>
              <li>
          <% else %>
              <li> <%= link_to "Sign In", sign_in_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->



    </div>
  </div>
</div>
