<h3>Answered Issues</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% issues.each do |issue| %>
      <% unless issue.resolved?  %>
        <% if issue.answers.count > 0 %>
          <tr>
            <td class="span3">
              <strong><%= link_to issue.title, issue_path(issue) %></strong>
              <p><em>submitted <%= time_ago_in_words(issue.created_at) %> ago by <%= issue.owner.username %></em></p>
            </td>
            <td class="span6"><%= link_to issue.description, issue_path(issue) %></td>
            <td class="span3">
              <p><em><%= pluralize(issue.answers.count, 'answer') %> submitted</em>
                <% if issue.answer_id.nil? %>
                  (none accepted)
                <% else %>
                  <p>answered by <%= Answer.find(issue.answer_id).owner.username %></p>
                <% end %>
              </p>
            </td>
            <td>
              <% if issue.owner == current_user %>
                <%= link_to 'Edit', edit_issue_path(issue), :class => "btn btn-mini"%>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<h3>Waiting for Answers</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% issues.each do |issue| %>
      <% unless issue.resolved? %>
        <% if issue.answers.count == 0%>
          <tr>
            <td class="span3">
              <strong><%= link_to issue.title, issue_path(issue) %></strong>
              <p><em>submitted <%= time_ago_in_words(issue.created_at) %> ago by <%= issue.owner.username %></em></p>
            </td>
            <td class="span6"><%= link_to issue.description, issue_path(issue) %></td>
            <td class="span3">
              <p><em><%= pluralize(issue.answers.count, 'answer') %> submitted</em>
                <% if issue.answer_id.nil? %>
                  (none accepted)
                <% else %>
                  <p>answered by <%= Answer.find(issue.answer_id).owner.username %></p>
                <% end %>
              </p>
            </td>
            <td>
              <% if issue.owner == current_user %>
                <%= link_to 'Edit', edit_issue_path(issue), :class => "btn btn-mini"%>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<h3>Resolved</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% issues.each do |issue| %>
      <% if issue.resolved? %>
        <tr>
            <td class="span3">
              <strong><%= link_to issue.title, issue_path(issue) %></strong>
              <p><em>submitted <%= time_ago_in_words(issue.created_at) %> ago by <%= issue.owner.username %></em></p>
            </td>
            <td class="span6"><%= link_to issue.description, issue_path(issue) %></td>
            <td class="span3">
              <p><em><%= pluralize(issue.answers.count, 'answer') %> submitted</em>
                <% if issue.answer_id.nil? %>
                  (none accepted)
                <% else %>
                  <p>answered by <%= Answer.find(issue.answer_id).owner.username %></p>
                <% end %>
              </p>
            </td>
            <td>
              <% if issue.owner == current_user %>
                <%= link_to 'Edit', edit_issue_path(issue), :class => "btn btn-mini"%>
              <% end %>
            </td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



