<!-- <p id="notice"><%#= notice %></p> -->
<div class="issues-nav span4">
  <%= render 'index' if @issues_search || @issues_unresolved || @issues_resolved || @my_issues %>
</div>

<div class="issue-show-container">
  <div id="flashes" class="fadeout">
    <%= render 'shared/flashes' %>
  </div>
  <%= render 'show' if @issue %>
</div>

<%= content_for :js do %>
  <script>
    $(function(){

      <% if @issue %>
      $(".issues-nav").load("<%= issues_path %>", function(html){
        ActivateIssuesIndex();
        $("#issue_<%= @issue.id%>").parents("tr:first").addClass("selected");
      });
      <% else %>
        ActivateIssuesIndex();
        $("table.unresolved tr:first td a:first").click();
        pollIssuesIndex();
      <% end %>

      function pollIssuesIndex(){
        setTimeout(function(){
          // make note of what is currently selected, both
          // in terms of issue selected and scope
          issue_id = $("tr.selected td a").attr("id");
          issue_scope = $("tr.selected").parent("tbody").parent("table").attr("class").split(" ")[2];
          $(".issues-nav").load("<%= issues_path %>", function(html){
            ActivateIssuesIndex();
            $(".btn-link." + issue_scope).click();
            $("table." + issue_scope + " tr td a#" + issue_id).parents("tr:first").addClass('selected');
            pollIssuesIndex();
          })
        }, 1000000)
      };

      pollIssuesIndex();

    });
  </script>
<% end %>
