<h4 id = "notice"><%= notice %></h4>

<h1><%= @group.name.downcase %></h1><br />
<% if @students == [] %>
  <h2>There are no people assigned to this group. Why not <%= link_to "add some?", edit_group_path(@group) %></h2>
<% end %>

<div class="span12">
  <ul>
    <% @students.each do |student| %>
	<li class="span3 bigger"><%= student.name %></li>
    <% end %>
  </ul>
</div>

<div class="span11">
  <% if @group.created_by?(current_user) %>
    <h3><%= link_to 'Edit', edit_group_path(@group) %></h3>
  <% end %>
  <h3><%= link_to 'Back', groups_path %></h3>
</div>