<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  /* Activating Best In Place */
  $(document).ready(function() {
    jQuery(".best_in_place").best_in_place();
  });
</script>

<section class="hero-unit">
  <div class="row-fluid">
    <div id="hero-description" class="span12">
      <div class="span10 hero-title">
        <span class="gg-project-hero-title"><%= @project.name %></span>
        <%= render "projects/hero/tech_tags" %>
        <%= user_dependent_edit(@project) %>
      </div>

      <div class="clearfix"></div>
      <div class="span7 proj-descript">
        <h3 class="hero-inline" id="project-description"><%= @project.description %></h3>
      </div>
      <div class="span4 hero-image">
        <!-- PROJECT IMAGE GOES HERE -->
      </div>
      <div class="clearfix"></div>
      <div class="hero_contrib">
        <%= render "projects/hero/contributors" %>
      </div>
    </div>
  </div>
</section>

